<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <i class="fa fa-user bluetext"></i> EMP Management</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#" class="simpletext whitetext">admin@contoso.com
              <i class="fa fa-user"></i>
            </a>
          </li>
          <li>
            <a class="simpletext greytext">|</a>
          </li>
          <li>
            <a href="#contact" class="wtlinkbtn">Logout
              <i class="fa fa-signout"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
  <emp-data></emp-data>
</div>

<footer id="footer">
  <div class="container">
    <p class="lead">&copy; EM copyrights reserved 2017</p>
  </div>
</footer>